<div class="container" id="menuConatiner">
<div class="alert-danger col-xs-4" ng-if="items === 0 "><p>Nothing found.</p></div>
  <div class="row">

    <div class="col-xs-8">

            <div ng-repeat="item in items" id="itemInfo">
                <div class="row">
                  <div class="col-xs-12">
                  </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                      <h2>{{item.short_name}}</h2>
                      <hr>
                        <h3>{{item.name}}</h3>
                        <p><i>{{ item.description }}</i></p>
                    </div>
                  <div class="col-xs-2 ">
                    <button class="btn btn-primary menu-button" ng-click="onRemove({index: $index});"> Don't want this one! </button>
                  </div>
                </div>
              </div><hr>
            </div>
</div>
</div>
